n8n-workflow.json
{
  "name": "AI Test Case Generator (Groq)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-test-cases",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a1b1c1d-0001-4a1a-8a1a-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "generate-test-cases"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "userStory",
              "value": "={{ $json.body.userStory }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "ticketId",
              "value": "={{ $json.body.ticketId || 'N/A' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1a1b1c1d-0002-4a1a-8a1a-000000000002",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.3,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a senior QA engineer. Given a user story, generate structured test cases. Return ONLY valid JSON, no markdown, no preamble, in this exact shape: {\\\"testCases\\\": [{\\\"id\\\": \\\"TC-01\\\", \\\"title\\\": \\\"\\\", \\\"type\\\": \\\"positive|negative|edge\\\", \\\"priority\\\": \\\"High|Medium|Low\\\", \\\"steps\\\": [\\\"\\\"], \\\"expectedResult\\\": \\\"\\\"}]}. Include at least 3 positive, 3 negative, and 2 edge cases.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"User story: {{ $json.userStory }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "1a1b1c1d-0003-4a1a-8a1a-000000000003",
      "name": "Groq - Generate Test Cases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.choices[0].message.content;\nlet parsed;\ntry {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = { testCases: [], parseError: true, raw };\n}\nreturn [{ json: {\n  ticketId: $('Normalize Input').first().json.ticketId,\n  userStory: $('Normalize Input').first().json.userStory,\n  ...parsed\n} }];"
      },
      "id": "1a1b1c1d-0004-4a1a-8a1a-000000000004",
      "name": "Parse Groq Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "1a1b1c1d-0005-4a1a-8a1a-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"New test cases generated for ticket {{ $json.ticketId }}: {{ $json.testCases.length }} cases created.\"\n}",
        "options": {}
      },
      "id": "1a1b1c1d-0006-4a1a-8a1a-000000000006",
      "name": "Slack Notify (optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 380]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Normalize Input", "type": "main", "index": 0 }]]
    },
    "Normalize Input": {
      "main": [[{ "node": "Groq - Generate Test Cases", "type": "main", "index": 0 }]]
    },
    "Groq - Generate Test Cases": {
      "main": [[{ "node": "Parse Groq Response", "type": "main", "index": 0 }]]
    },
    "Parse Groq Response": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Slack Notify (optional)", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": { "instanceId": "ai-test-case-generator" }
}
